@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600,700,800,&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    text-align: center;
}
.hero p {
    position: flex;
    right:0px;
    font:16px;
    top: auto;
    text-align: right;
}

.hero img {
    width: 100px;
    size: 100px;
    border-radius: 10px;
}

.section{
    border-radius: 10px;
}
